<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swift-camera-test.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FCAAD8A32E04F87D00C73031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCAAD8B32E04F87F00C73031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCAAD8BD2E04F87F00C73031</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
